#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #f1f1f1 0%, #fff 100%);
    min-height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        transform: translateY(-1000px)
    }
    .left {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1em;
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
        margin: 15px 0 0;
        padding: 0;
        font-size: 1.5em;
    }
    .profile-container {
        background: url('../../images/profile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1;
        height: 400px;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.25)
    }
    i {
        font-size: 1.75em;
    }
    i:hover {
        animation: shake .25s linear;
        opacity: .75;
    }
    .icons {
        a {
            color: black;
            text-decoration: none;
            text-align: center;
            position: relative;
            padding: 0 1em .75em .75em;
            display: block;
        }
    }
}

@media(min-width: 768px) {
    #landing {
        .container {
            flex-direction: row;
        }
        .left {
            width: 50%;
            flex-direction: row;
            margin: 0;
        }
        .right {
            width: 50%;
            padding: 0 1em 0 2.5em;
        }
        h2 {
            margin: 0;
        }
        .profile-container {
            height: 650px;
        }
    }
}

@media(min-width: 1200px) {
    #landing {
        .icons {
            a::before {
                position: absolute;
                transform: translate(-115%, 25%) scaleX(0);
                transform-origin: right;
                transition: transform .5s;
                z-index: 10;
            }
            .linkedIn:before {
                content: 'LinkedIn'; 
            }
            .github:before {
                content: 'GitHub'; 
            }
            .email:before {
                content: 'Email'; 
            }
            .resume:before {
                content: 'Resume'; 
            }
            a:hover::before {
                transform: translate(-115%, 25%) scaleX(1);
            }
        }
    }
}