#projects {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 16px;
    }
    .display-container {
        transform: scale(0);
    }
    p {
        margin: 0;
    }
    .project-content {
        flex: 1;
    }
    h2 {
        text-align: center;
        padding-left: 0;
    }
    h3 {
        margin-top: 15px;
    }
    .technologies {
        font-style: italic;
        opacity: .4;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .button-group {
        margin-top: 25px;
    }
    a {
        text-decoration: none;
        padding: .5em 1em;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 1.25em;
            padding-right: 5px;
        }
    }
    a:hover {
        opacity: 0.75;
    }
    a.github {
        color: white;
        background-image: linear-gradient(to bottom,#2fcb53,#269f42 90%);
        margin: 10px 0 0 0;
    }
    a.site {
        color: black;
        border: 1px solid lightgray;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    }
    hr {
        transform: scaleX(0);
        opacity: .75;
    }
}

@media(min-width: 768px) {
    #projects {
        .project {
            flex-direction: row;
            align-items: flex-start;
        }
        .project-content {
            padding-left: 2em;
        }
        h2 {
            padding-left: 15px;
            text-align: left;
        }
        h3 {
            margin-top: 0;
        }
    }
}

@media(min-width: 970px) {
    #projects {
        .button-group {
            display: flex;
        }
        a {
            display: inline-flex;
        }
        a.github {
            margin: 0 0 0 10px;
        }
    }
}